<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Golang reCAPTCHA Signup Form</title>
        <script src="https://www.google.com/recaptcha/api.js?render={{ .CaptchaSiteKey }}"></script>
        <script>
        grecaptcha.ready(function() {
            grecaptcha.execute('{{ .CaptchaSiteKey }}', {action: 'homepage'}).then(function(token) {
                document.getElementById('g-recaptcha-response').value = token;
            });
        });
        </script>
    </head>
    <body>
        <h1>Luuk at this new link!</h1>
        <form method="POST" action="/at/this">
            <input type="hidden" id="g-recaptcha-response" name="g-recaptcha-response" />
            https://heylu.uk/
            <input type="text" name="shortcut" />
            <br />
            URL: <input type="text" name="url" />
            <br />
            <br />
            <input type="submit" value="Submit" />
        </form>
    </body>
</html>