{{ define "base" }}
<!DOCTYPE html>
<html>
    {{ template "head" . }}
    <body>
        <div class="wrapper">
            {{ template "sidebar" . }}
            <div id="content">
                {{ template "navbar" . }}
                {{ template "content" . }}
            </div>
        </div>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
    </body>
</html>
{{ end }}

{{ define "head" }}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Hey Luuk</title>

    <link rel="stylesheet" type="text/css" href="/static/bootstrap/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <link rel="stylesheet" type="text/css" href="/static/patternfly-bootstrap-treeview/bootstrap-treeview.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/font-awesome/css/all.min.css" />

    <script src="/static/jquery/jquery.min.js"></script>
    <script src="/static/patternfly-bootstrap-treeview/bootstrap-treeview.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</head>
{{ end }}

{{ define "navbar" }}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">

        <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-align-justify"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/at/my/toc">Terms of use</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
{{ end }}

{{ define "sidebar" }}
<nav id="sidebar">
    <div class="sidebar-header">
        <h3>Hey Luuk</h3>
    </div>

    <ul class="list-unstyled components">
        <li>
            <a href="/" >This site</a>
        </li>
        <li>
            <a href="/at/this">Links</a>
        </li>
        <li>
            <a href="/at/my/predictions">Predictions</a>
        </li>
        <li>
            <a href="/at/dots">Dots</a>
        </li>
        <li>
            <a href="/at/my/faq">F.A.Q.</a>
        </li>
    </ul>

    <ul class="list-unstyled CTAs">
        <li>
            <a href="https://github.com/lk16/heyluuk" class="download">Source on github</a>
        </li>
    </ul>
</nav>
{{ end }}