{{ define "content" }}
<h1>Welcome to my amazing site.</h1>

<p class="text-justify">
  This site was made for several reasons, listed in no particular order:
</p>

<ul>
  <li>to make fun of my first name</li>
  <li>to publish <a href="/at/dots">my othello bot</a> to the world</li>
  <li>to create yet another link shortener (in progress)</li>
  <li>to publish my predictions (in progress)</li>
  <li>and maybe more!</li>
</ul>

<p class="text-justify">
  For more details, please check the <a href="/at/my/faq">frequently asked questions</a>.
</p>


{{ end }}