{{ define "content" }}
<script>
    function load_new_challenge() {
        $.ajax({
            type: "GET",
            url: '/api/challenge',
            success: function (result) {
                $("#form-challenge-question").html(result.question);
                $("#form-challenge-id").attr("value", result.id);
            }
        });
    }

    $(document).ready(function () {

        load_new_challenge();

        $("#new-link-form").submit(function (e) {

            var array = $("#new-link-form").serializeArray();
            var body = {};
            $(array).each(function (index, obj) {
                body[obj.name] = obj.value;
            });

            $.ajax({
                type: "POST",
                contentType: "application/json; charset=utf-8",
                url: '/api/link',
                data: JSON.stringify(body),
                success: function (result) {
                    var message = "Your link <a target='_blank' href='" + result['shortcut'] + "'>" + window.location.host + result['shortcut'] + "</a> has been created.";
                    $("#form-alert").html(message).removeClass("alert-danger").addClass("alert-success").show();
                    $("#new-link-form").find("input").val("");
                    load_new_challenge();
                },
                error: function (xhr, resp, text) {
                    var message = "Error: " + xhr.responseJSON["error"];
                    $("#form-alert").html(message).removeClass("alert-success").addClass("alert-danger").show();
                    $("#form-challenge-answer").val("");
                    load_new_challenge();
                }
            });

            return false;
        });
    });
</script>

<div class="m-3">
    <div id="form-alert" class="alert alert-success" role="alert" style="display:none;">
    </div>
    <form class="form-inline" action="" id="new-link-form">
        <div class="input-group form-group mx-sm-2 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupPrepend">heylu.uk/</span>
            </div>
            <input type="text" id='form-path' name="path" class="form-control" placeholder="at/my/amazing/thing"
                aria-describedby="inputGroupPrepend" required />
        </div>
        <div class="input-group form-group mx-sm-2 mb-2">
            <input type="text" id='form-url' name="url" class="form-control" placeholder="example.org/something" required />
        </div>
        <div class="input-group form-group mx-sm-2 mb-2">
            <div class="input-group-prepend">
                <span class="input-group-text" id="form-challenge-question"></span>
            </div>
            <input type="text" id='form-challenge-answer' name="challenge-answer" class="form-control" placeholder="anti-spam"
                aria-describedby="form-challenge-question" required />
            <input type="hidden" id='form-challenge-id' name="challenge-id" />
        </div>
        <button id="submit" class="btn btn-primary mx-sm-2 mb-2">Create link</button>
    </form>
</div>
<hr />
<div class="col-sm-4">
    <h3>Existing link tree</h3>
    <div id="myTree"></div>
</div>

<script type="text/javascript">
$(document).ready(function(){

    $.ajax({
        url: '/api/node/root',
        success: function(data, status, xhr) {

            data = data.sort(function(a,b){
                if(a.path_segment < b.path_segment) { return -1; }
                return 1;
            })

            var rootNodes = [];

            $(data).each(function(index, element){

                var text = element.path_segment;

                if(element['url'] !== '') {
                    text = '<a href="' + element['url'] + '">' + text + '</a>';
                }

                rootNodes.push({
                    text: text,
                    lazyLoad: true,
                    id: element.id,
                    selectable: false
                });
            });

            var treeData = [
                {
                    text: 'heylu.uk',
                    nodes: rootNodes,
                    selectable: false,
                }
            ];

            lazyLoad = function(node, dataHandler) {

                var result = "";
                $.ajax({
                    url: '/api/node/' + node.id + '/children',
                    type: 'GET',
                }).then(

                    function(data){
                        data = data.sort(function(a,b){
                        if(a.path_segment < b.path_segment) { return -1; }
                        return 1;
                    })

                    var children = [];
                    $(data).each(function(index, element){

                        var text = element.path_segment;

                        if(element['url'] !== '') {
                            text = '<a href="' + element['url'] + '">' + text + '</a>';
                        }

                        children.push({
                            text: text,
                            lazyLoad: true,
                            id: element.id,
                            selectable: false
                        });
                    });

                    dataHandler(children);
                });
            }

            $('#myTree').treeview({
                data: treeData,
                lazyLoad: lazyLoad,
                showBorder: false,
                expandIcon: "fas fa-plus",
                collapseIcon: "fas fa-minus",
                loadingIcon: "fas fa-ellipsis-v",
                icon: "fas fa-link"
            });
        }
    });
});
</script>
{{ end }}