{{ define "content" }}
<h1>
    Terms and conditions
</h1>
<p>
    Users agree and understand that:
</p>
<ul>
    <li>these terms and conditions may change at any point without prior notice to users.</li>
    <li>by using this site, they [the users] agree to the terms stated on the this page at the time of using.</li>
    <li>this site is provided as a service "as-is", without any warrenty or promises that it will be available in the future or that it behaves correctly at any time.</li>
    <li>they [the users] should not rely on services as provided by this site.</li>
    <li>in no event the site owner or anyone else affiliated to this site will be liable for physical or financial damage to their machine in any way, shape or form.</li>
    <li>in no event the site owner or anyone else affiliated to this site will be liable for any content reachable via a shortened link at this domain, even if the link redirects to this domain itself.</li>
</ul>
<h1>
    Cookies &amp; tracking
</h1>
<ul>
    <li>This site does not use cookies.</li>
    <li>This site not contain any trackers.</li>
    <li>This entire site runs entirely on free-as-in-freedom software.</li>
</ul>


{{ end }}